:root {
    --shadow: 4px 20px 30px rgba(68, 83, 106, 0.8);
}
body{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
} 
.top-head{
    font-size: 30px;
    text-align: center;
   background-color: rgba(68, 83, 106, 0.8);  
   position: fixed;
   width: 100%;
}