@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
:root {
    --shadow: 4px 20px 30px rgba(68, 83, 106, 0.8);
}

*{
    padding: 0;
    margin: 0;  
}
body{
    font-family: 'ROBOTO', Courier, monospace;
}
header{
    width: 100%;
    position: fixed;
    font-family: 'Times New Roman', Times, serif;
    background: #ECF2F0;
    color: #0B4817;
    cursor: default;
}
main{
    position: absolute;
    margin-top: 30px; 
    width: 100%;
}
#h2{
    position: relative;
    text-align: center;
    color: #0B4817;  
    font-style: italic; 
}
#logo{
    width: 2%;
    height: 30px;
    margin-left: 1%;

}
#nav-header{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
#menu-header{
    list-style: none;
    margin-top: 5px;
    margin-right: 5px;
}
#menu-header :hover{
    color: #9d34c6;
}
#a-signin{
    text-decoration: none;
    color: #0B4817;
}
.section1{
    width: 100%;
    height: 130px;
}
.slide_image{
    overflow: scroll;
    width: 100%;
    height: 100%;
}
#top-img{
    width: 100%;
    max-height: 100%;
}