:root {
    --shadow: 4px 20px 30px rgba(68, 83, 106, 0.8);
}
body{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
} 
header{
    position: fixed;
    font-size: xx-large;
    width: 100%;
    background-color: rgba(68, 83, 106, 0.8);
    text-align: center;
    color: white;
    cursor: pointer;
}