@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
:root {
    --shadow: 4px 20px 30px rgba(68, 83, 106, 0.8);
}

body{
    margin: 0%;
    font-family: 'ROBOTO', Courier, monospace;
}
.mola-heading{
    width: 100%;
    height: 5%;
    position: fixed;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
    background: #ECF2F0;
    display: fixed;
    color: #0B4817;
    text-align: center; 
    
}
#h1-mola{
    height: 5%;
    margin-top: 1px;
}
